proxmox_api_url = "https://your-proxmox-ip:8006/api2/json"
proxmox_api_token_id = "root@pam!terraform"
proxmox_api_token_secret = "your-token-secret"
proxmox_node = "pve"
template_name = "ubuntu-2204-template"
ssh_key = "ssh-rsa AAAAB3NzaC1..."
control_plane_count = 1
worker_node_count = 3
control_plane_vcpus = 2
control_plane_memory = 4096
worker_vcpus = 4
worker_memory = 8192
vm_network_bridge = "vmbr0"
management_network = "192.168.100.0/24"
management_gateway = "192.168.100.1"
disk_size = "50G"
kubernetes_version = "1.26.0"
